<div class="container-fluid page">
  <h5 class="text-center text-danger">Orders</h5>
  <ul>
    <% @orders.each do |order| %>
      <div class="container">
        <% if order.user_id = current_user.id %>
          <div class="row justify-content-center">
            <div class="col-6">
              <div class="p-3 border bg-light">
                <div class="row">
                  <div class="col-md-8">
                    <h5><%= order.restaurant_name %></h5>
                    <span class="text-secondary"><%= order.post_date %></span><br>
                    <span class="text-secondary"><%= order.name %></span>
                  </div>
                  <div class="col-md-4">
                    <% total = 0 %>
                    <% total += order.total_price + order.delivery_fee %>
                    <span class="price text-secondary">￥<%= total %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>  
      </div>
    <% end %>
  </ul>
</div>